<!-- About -->
<section id="about" class="about">
    <table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
        <tbody>
            <tr>
                <td>
                <p style="text-align: center;">Moneymapp</p>

                <p style="text-align: center;">Siempre esta pendiente de tus inquietudes y dudas por eso estamos dispuestos para ti...</p>

                <p style="text-align: center;">Escribenos a: info@kommit.co</p>

                <p style="text-align: center;">Contactanos al: (+57) 313 694 8364</p>

                </td>
            </tr>
        </tbody>
    </table>
</section>
